<div class="flex items-center justify-center p-5">
  <div class="w-full rounded-lg bg-gray-200 p-3">
    <div class="flex">
      <input
        type="text"
        class="w-full bg-white pl-2 text-base font-semibold outline-0"
        placeholder="¡Busca un post específico!"
        #term
      />
      <button
        type="button"
        class="bg-blue-500 p-2 rounded-tr-lg rounded-br-lg text-white font-semibold hover:bg-blue-800 transition-colors"
        (click)="filterPosts(term.value)"
      >
        Buscar
      </button>
    </div>
  </div>
</div>
