<div class="max-w-md w-full p-6">
  <h1 class="text-3xl font-semibold mb-6 text-black text-center">
    Inicio de sesión
  </h1>
  <h1 class="text-sm font-semibold mb-6 text-gray-500 text-center">
    Es un gusto tenerte en nuestra red social.
  </h1>
  <div class="mt-4 flex flex-col lg:flex-row items-center justify-center">
    <asl-google-signin-button
      type="standard"
      size="large"
      shape="circle"
      [width]="250"
    />
  </div>
  <div class="mt-4 text-sm text-gray-600 text-center">
    <p>o con tu correo</p>
  </div>
  <form [formGroup]="form" class="space-y-4">
    <!-- Your form elements go here -->

    <div>
      <label for="email" class="block text-sm font-medium text-gray-700"
        >Correo</label
      >
      <input
        type="text"
        name="email"
        formGroupName="email"
        placeholder="you@example.com"
        class="mt-1 p-2 w-full border rounded-md focus:border-gray-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-300 transition-colors duration-300"
      />
    </div>
    <div>
      <label for="password" class="block text-sm font-medium text-gray-700"
        >Contraseña</label
      >
      <input
        type="password"
        placeholder="*********"
        name="password"
        formGroupName="password"
        class="mt-1 p-2 w-full border rounded-md focus:border-gray-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-300 transition-colors duration-300"
      />
    </div>
    <div>
      <button
        type="submit"
        class="w-full bg-black text-white p-2 rounded-md hover:bg-gray-800 focus:bg-black focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-900 transition-colors duration-300"
        (click)="validateLogin()"
      >
        Ingresar
      </button>
    </div>
  </form>
  <div class="mt-4 text-sm text-gray-600 text-center">
    <p>
      ¿Aún no estás registrado?
      <a
        href="#"
        class="text-black hover:underline"
        [routerLink]="['../sign-up']"
        >Hazlo aquí</a
      >
    </p>
  </div>
</div>
