<div class="max-w-md w-full p-6">
  <h1 class="text-3xl font-semibold mb-6 text-black text-center">
    Inicio de sesión
  </h1>
  <h1 class="text-sm font-semibold mb-6 text-gray-500 text-center">
    Es un gusto tenerte en nuestra red social.
  </h1>

  <form [formGroup]="form" class="space-y-4">
    <!-- Your form elements go here -->

    <div>
      <label for="email" class="block text-sm font-medium text-gray-700"
        >Correo</label
      >
      <input
        id="email"
        type="text"
        formControlName="email"
        placeholder="you@example.com"
        class="mt-1 p-2 w-full border rounded-md focus:border-gray-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-300 transition-colors duration-300"
      />

      @if (invalidField('email')) {
      <span class="text-sm text-red-500">{{ getError("email") }}</span>
      }
    </div>
    <div>
      <label for="password" class="block text-sm font-medium text-gray-700"
        >Contraseña</label
      >
      <input
        id="password"
        type="password"
        placeholder="*********"
        name="password"
        formControlName="password"
        class="mt-1 p-2 w-full border rounded-md focus:border-gray-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-300 transition-colors duration-300"
      />
      @if (invalidField('password')) {
      <span class="text-sm text-red-500">{{ getError("password") }}</span>

      }
    </div>

    @if (loading) {
    <div class="flex w-full justify-center">
      <app-spinner />
    </div>
    }

    <div>
      <button
        type="submit"
        class="w-full bg-black text-white p-2 rounded-md hover:bg-gray-800 focus:bg-black focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-900 transition-colors duration-300"
        (click)="login()"
        [disabled]="loading"
      >
        Ingresar
      </button>
    </div>
  </form>
  <div class="mt-4 text-sm text-gray-600 text-center">
    <p>
      ¿Aún no estás registrado?
      <a
        href="#"
        class="text-black hover:underline"
        [routerLink]="['../sign-up']"
        >Hazlo aquí</a
      >
    </p>
  </div>
</div>
