<div class="grid grid-cols-1 lg:grid-cols-2 gap-4">
  @if(loading){
  <div class="flex w-full justify-center">
    <app-spinner />
  </div>
  }@else {

  <!-- Card post users -->
  @for (post of posts(); track post._id;) {

  <div class="bg-white p-8 rounded-lg shadow-md max-w-md">
    <!-- User Info with Three-Dot Menu -->
    <div class="flex items-center justify-between mb-4">
      <div class="flex items-center space-x-2">
        <img
          src="https://i.pravatar.cc/150?img={{ post.userId.idImageRandom }}"
          alt="User Avatar"
          class="w-8 h-8 rounded-full"
        />
        <div>
          <p class="text-gray-800 font-semibold">
            {{ post.userId.fullName | titlecase }}
          </p>
          <p class="text-gray-500 text-sm">
            Publicado el {{ post.createdAt | date : "medium" }}
          </p>
        </div>
      </div>

      @if (!modalsOpen() && user?._id === post.userId._id) {
      <div
        class="text-gray-500 cursor-pointer"
        (click)="onToggleMenu(dropdown)"
        (mouseleave)="closeDropDown(dropdown)"
      >
        <div class="bg-gray-50 rounded-full p-1">
          <div class="relative inline-block text-left">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <circle cx="12" cy="7" r="1" />
              <circle cx="12" cy="12" r="1" />
              <circle cx="12" cy="17" r="1" />
            </svg>
            <div
              #dropdown
              class="origin-top-right absolute right-0 mt-2 w-48 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 hidden"
            >
              <div class="py-2 p-2">
                <a
                  class="flex rounded-md px-4 py-2 text-sm text-red-500 hover:bg-gray-100 active:bg-blue-100 cursor-pointer"
                  role="menuitem"
                  (click)="deletePost(post._id)"
                >
                  Eliminar
                </a>
                <a
                  class="flex rounded-md px-4 py-2 text-sm text-blue-600 hover:bg-gray-100 active:bg-blue-100 cursor-pointer"
                  role="menuitem"
                  (click)="editPost(post)"
                >
                  Editar
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      }
    </div>
    <!-- Message -->
    <div class="mb-4">
      <h3 class="font-bold text-gray-800">{{ post.title }}</h3>
      <p class="text-gray-800">{{ post.content }}</p>
    </div>
    <!-- Image -->

    <!-- Like and Comment Section -->
    <div class="flex items-center justify-between text-gray-500">
      <div class="flex items-center space-x-2">
        <button
          (click)="likePost(post._id)"
          class="flex justify-center items-center gap-2 px-2 hover:bg-gray-50 rounded-full p-1"
        >
          <svg
            class="w-5 h-5 fill-current"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
          >
            <path
              d="M12 21.35l-1.45-1.32C6.11 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-4.11 6.86-8.55 11.54L12 21.35z"
            />
          </svg>
          <span>{{ post.likes }} Likes</span>
        </button>
      </div>
    </div>
  </div>
  } @empty {
  <p class="text-red-500">No se han encontrado posts</p>

  } }
</div>

@if (showModal()) {
<app-update-post-modal />
}
